<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
 <div class="container mb-4">
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/home_img" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h1>Better Wrapped</h1>
          <p>An all in one Spotify data viewing experience.</p>
        </div>
      </div>
    </div>
  </div>
 </div>
</main>
<%- include ('../partials/footer') %>