<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="container mt-4">
		<div class="row">
			<div class="col"></div>
			<!-- THE REST OF YOUR HTML CODE GOES HERE -->
			<div class="col-8">
				<div class="row m-2">
					<h2 class="mb-4">Register</h2>
				</div>
				<form action="/register" method="POST">
					<div class="row m-2 mb-3">
						<div class="col">
							<label for="username" class="form-label">Username</label>
						</div>
						<div class="col-10">
							<input type="text" id="username" name="username" class="form-control"/>
						</div>
					</div>
					<div class="row m-2 mb-3">
						<div class="col">
							<label for="password" class="form-label">Password</label>
						</div>
						<div class="col-10">
							<input type="text" id="password" name="password" class="form-control"/>
						</div>
					</div>
					<hr/>
					<div class="m-2 row">
						<div class="col-8">
							Already have an account? 
							<a href="/login">Login</a>
						</div>
						<div class="col justify-content-end d-flex">
							<button type="submit" class="btn btn-primary">Register</button>
						</div>
					</div>
					

				</form>
			</div>
			
			<div class="col"></div>
		</div>
  </div>
</main>
<%- include ('../partials/footer') %>