<footer class="text-center text-muted w-100 mt-auto fixed-bottom bg-dark">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
    
    <p class="bg-dark">
      &copy; Copyright 2023: Better Wrapped
    </p>
  </footer>
</body>
</html>
