<header>
  <nav class="navbar navbar-expand-sm border-bottom">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapse"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav me-auto ms-5">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a> 
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/report">Your Report</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/extras">Extras</a> 
      </li>
      </ul>
      <ul class="navbar nav ms-auto me-5">
      <li class="nav-item mr-3">
        <a class="nav-link" href="/logout">Logout</a> 
      </li>
      </ul>
    </div>
  </nav>
</header>